@import "colors.scss";
@import "mixin.scss";

//リンクの設定について
a:link { color:$title-color; text-decoration:none }
a:visited { color:$title-color; text-decoration:none }
a:hover { color:$title-color; text-decoration:none }
a:active { color:$title-color; text-decoration:none }

.main {
  background-color: $main-background;
}

.contents {
  padding-top: 30px;
  width: 70%;
  margin: auto;
  @include clearfix();
}

.articles {
  float: left;
  width: 70%;
}

.article-entry {
  background-color: $article-background;
  margin-bottom: 20px;
  padding: 24px 32px;
  position: relative;

  &-header {

    &__date{
      font-size: 80%;
    }

    &__title {
      margin-top: 10px;
      color: $title-color;
      font-weight: bold;
      font-size: 25px;
    }

    &__genre{
      margin-top: 10px;
      font-size: 80%;
    }
  }

  &-body {
    margin: 10px 0;
    @include clearfix();

    &__image{
      float: left;
      background-size: cover;
      margin-right: 10px;
    }

    &__content{
      float: left;
    }
  }
}

.aside {
  float: left;
  margin-left: 60px;
}

.pagination{
  display: block;
  margin: auto;
  width: 150px;
  margin-bottom: 30px;
}
