@import "colors.scss";
@import "mixin.scss";

.article {
  background-color: $article-background;
  position: relative;
  padding: 32px 32px 40px 32px;
  background-color: #fff;
  margin: 40px auto;
  width: 70%;
}

.next_previous {
  clear: both;
  height: 40px;
}

#pageTop {

  position: fixed;
  bottom: 50px;
  right: 110px;
}

 

#pageTop a {
  display: block;
  z-index: 999;
  padding: 8px;
  border-radius: 50px;
  width: 80px;
  height: 80px;
  background-color: #9FD6D2;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

 

#pageTop a:hover {
  text-decoration: none;
  opacity: 0.7;
}
